# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/build/

# Rider & Resharper
_ReSharper*/
*.DotSettings.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test results
TestResults/
